<div class="list-group-item" style="padding: 0;">
    <div class="input-group input-group-lg" id="serachGroup">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input id="tableSearchField" value="{{search}}" type="text" class="form-control" placeholder="Suche.." aria-describedby="sizing-addon1">
    </div>
</div>
<div class="shooter-items" style="height:75vh; overflow: scroll;"> </div>
<div class="list-group-item">
    <button type="submit" id="addShooterButton" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
</div>
