body {
  font-family: Arial, sans-serif; /* starts with this line */
  color: black;
  font-size: 13px;
  line-height: 20px; /* ends here, before the closing curly brace */
}


h1{
  font-size: 1.5rem;
  text-align: center
}

h2{
}

h2 + aside{
  font-size: 0.7rem;
  text-decoration: none;
}


.border{
  border :none;
  border-top: 1px solid black;
  margin-top: 1.5rem;

}
.title{
  margin-top: 1.5rem;

}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}

.blockleft {
  float: left;
}
.blockright {
  float: left;  /*Mobile First makes the right side under the left*/
}


dl {
  padding: 0.5em;
}
dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
  font-weight: bold;
  color: green;
}
dt:after {
  content: ":";
}
dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}


table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  padding: 0.5em;
}

th, td {
    text-align: left;
    padding: 0.1em;
}

th:first-child, td:first-child{
  padding-left: 0.5em;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:last-child{
  font-weight: bold;
  font-size: 1.1em;
  border-top: 1px solid black;
}

th {
  background-color: #4CAF50;
  color: white;
  border-bottom: 1px solid black;
}

p{
  text-align: center;
}

.signature > p{
  color: red;
}
.signature > p:after {
  content: ":";
}
.signature-line{
  border: none;
}

.signature{

  padding: 0.5em;
  padding-left: 5em;
  padding-top: 1.5em;
}

@media print {
  body{
    width: 100%;
    margin: 0;
    padding: 0;
  }

.signature-line{
  border-bottom: 1px solid black;
  padding: 0.5em;
  padding-top: 4em;
  width: 24em
}

.blockright {
  float: right;
}
}

@media only screen and (min-width: 700px) {
  body{
    margin: 0 auto;
    width: 700px;
  }

.blockright {
  float: right;
}
}
