.h-scroll {
    height: 50vh; /* %-height of the viewport */
    /*position: fixed;*/
    overflow-y: scroll;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 30vh;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}


#serachGroup * {
  border-radius: 0;
  border: 0;
  background-color: #fff;
}


/*
#serachGroup * {
  border: none;
    outline:none;
  background-color: #fff;
}

#serachGroup:focus{

     border: transparent;
    outline:none;
}*/
